!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{charset: "UTF-8"}
    %title Moccadmin
    %link{href: "assets/icons/favicon.png", rel: "icon", type: "image/png"}
    %link{:href => "assets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/animate.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/animsition.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/select2.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/slick.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/util.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/main.css", :rel => "stylesheet", :type => "text/css"}
  %body.animsition
    %header.header3
      .container-menu-header-v3
        .wrap_header3.p-t-74
          %a.logo3{href: "/"}
            %img{alt: "IMG-LOGO", src: "assets/logo_rosado.png"}/
          .header-icons3.p-t-38
            %a.header-wrapicon1.dis-block{href: "#"}
              %img.header-icon1{alt: "ICON", src: "assets/icons/icon-header-01.png"}
              = current_user.email
          = link_to 'Cerrar Sesión', destroy_session_path(current_user), method: :delete, class: "p-l-15 p-r-15 p-t-8 p-b-40 flex-c-m bo-rad-23 hov7 trans-0-4"
          .wrap_menu
            %nav.menu
              %ul.main_menu
                %li
                  %a{href: "/"} Home
                %li
                  = link_to 'Productos', admin_products_path
                %li
                  %a{href: "#"} Cotizaciones
        .bottombar.flex-col-c.p-b-65
          %a.logo3{href: "/"}
            %img{alt: "IMG-LOGO", src: "assets/moccadmin/mocca-logo_mocca.png"}

    %script{:src => "https://use.fontawesome.com/70a3cb5d53.js"}
    %script{:src => "https://code.jquery.com/jquery-3.3.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/animsition.min.js", :type => "text/javascript"}
    %script{:src => "assets/popper.min.js", :type => "text/javascript"}
    %script{:src => "assets/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/select2.min.js", :type => "text/javascript"}
    %script{:src => "assets/main.js"}